geemap
geopandas
jupyter-server-proxy
keplergl
leafmap
localtileserver
nbserverproxy
streamlit
streamlit-option-menu
streamlit-folium
mapclassify
matplotlib
folium
altair
gpxplotter
selenium
pdfkit
altair_saver
gpxpy